@charset "utf-8";
#top,#logo,#nav,#login,#bottom{width: 100%;}
#topCon,#logoCon,#navCon,#loginCon,#bottomCon,#fenge{margin: 0 auto;width: 1024px;}
/*top*/
#topCon h6{font-size: 12px;line-height: 32px;color: #919191;margin: 0 32px 0 237px;}

/*nav*/
#nav{height: 38px;background: #fff;}
#navCon{height: 38px;background: #c6004b;}
#navCon #nav_1{height: 38px;position: relative;z-index: 998;z-index: 9;}
#navCon #nav_1>li{float: left;height: 38px;text-align: center;line-height: 38px;}
#navCon #nav_1>li a{font-size: 14px;color: #fff;font-weight: 600;}
#navCon #nav_1>.li1{width: 124px;padding: 10px 0 10px 24px;text-align: left;height: 18px;line-height: 18px;overflow: hidden;}
#navCon #nav_1>.li1>a{padding-right: 30px;background: url(../img/fl.png) no-repeat right -3px;height: 18px;float: left;}
#navCon #nav_1>.li1:hover a{background-position-y: -24px;}
#navCon #nav_1>.li2{width: 60px;margin-left: 40px;}
#navCon #nav_1>.li3{width: 60px;}
#navCon #nav_1>.li2:hover{background: #af0039;}
#navCon #nav_1>.li3:hover{background: #af0039;}
#navCon #nav_1>.li4{width: 62px;float: right;height: 38px;line-height: 38px;padding: 0 10px 0 30px;background: url(../img/pp.png) no-repeat left -82px;margin-right: 10px;}
#navCon #nav_1>.li4 a{font-size: 12px;color: #fff;}
/*menu*/
#navCon #nav_1>.li1 ul{background: #fff;z-index: 9; width: 150px;padding: 0 3px;border: solid #a2174e;border-width: 0 1px 1px 1px;position: absolute;left: 0;top: 38px;min-height: 200px;_height:200px;}
#navCon #nav_1>.li1 ul .extra{height: 31px;width: 150px;}
#navCon #nav_1>.li1 ul .extra a{float: left; width: 120px;height: 31px;font-size: 12px;color: #f00;font-weight: 600;text-align:center;line-height: 30px;}
#navCon #nav_1>.li1 ul li{width: 150px;height: 30px;border-bottom: 1px solid #C5C5C5;position: relative;background: url(../img/fltp.png) no-repeat right 13px;}
#navCon #nav_1>.li1 ul li>a{float: left; width: 121px;height: 25px;padding: 3px 10px 0 0;border: solid #fff;border-width: 1px 0 1px 1px;font-size: 12px;line-height: 22px;font-weight: 100;position: absolute;left: 0;top: 0;z-index: 10;color: #000000;}
#navCon #nav_1>.li1 ul li>a:hover{border:1px solid #f00;border-right: 1px solid #fff;}
/*menu_2*/
#navCon #nav_1>li ul .menu_2{width: 886px;min-height: 100px;background: #fff;border: 1px solid #f00;overflow: hidden;position: absolute;left: 132px;top: 0;z-index: 9;} 
#navCon #nav_1>li ul .menu_2 .menu_2_left{width: 700px;min-height: 100px;padding: 0 4px 0 8px;float: left;background: #fff;} 
#navCon #nav_1>li ul .menu_2 .menu_2_left dl{width: 700px;overflow: hidden;}
#navCon #nav_1>li ul .menu_2 .menu_2_left dl dt{height: 20px;font-size: 12px;line-height: 20px;padding-left: 6px;font-weight: 600;}
#navCon #nav_1>li ul .menu_2 .menu_2_left dl dt>a{font-size: 12px;line-height: 20px;color: #FF0000;}
#navCon #nav_1>li ul .menu_2 .menu_2_left dl dt>a:hover{color: #000;text-decoration: underline;}
#navCon #nav_1>li ul .menu_2 .menu_2_left dl dd{width: 700px;padding: 5px 0;border-bottom: 1px dashed #C5C5C5;min-height: 16px;overflow: hidden;margin-bottom: 3px;}
#navCon #nav_1>li ul .menu_2 .menu_2_left dl dd>a{float:left;border-left: 1px solid #C5C5C5;font-size: 12px;padding: 0 6px;color: #000;font-weight: 100;line-height: 12px;margin-bottom: 6px;}
#navCon #nav_1>li ul .menu_2 .menu_2_left dl dd>a:hover{text-decoration: underline;}

#navCon #nav_1>li ul .menu_2 .menu_2_right{width: 123px;padding: 6px 8px 1000px 15px;position:absolute;background: #fcf8f8;right: 0;top: 0;} 
#navCon #nav_1>li ul .menu_2 .menu_2_right dl dt{height: 20px;font-size: 12px;line-height: 20px;padding-left: 3px;font-weight: 600;}
#navCon #nav_1>li ul .menu_2 .menu_2_right dl dd{padding-left: 3px;}
#navCon #nav_1>li ul .menu_2 .menu_2_right dl dd a{width: 60px;font-size: 12px;float: left;color: #000;font-weight: 100;line-height: 14px;margin-bottom: 6px;}
/*login*/
#login{height: 472px;}
#loginCon{width: 930px;padding: 30px;background: #fff;height: 412px;}
#loginCon .login_1{width: 520px;height: 421px;border-right: 1px solid #e7e7e7;float: left;}
#loginCon .login_1 form{width: 520px;height: 421px;}
#loginCon .login_1 form span{font-size: 14px;width: 100px;height: 26px;line-height: 26px;text-align: right;float: left;}

#loginCon .login_1 form .loginType{width: 520px;height: 52px;padding-top: 5px;font-size: 14px;}
#loginCon .login_1 form .loginType select{width: 100px;height: 20px;border: 1px solid #bbb;float: left;}
#loginCon .login_1 form .loginType select option{font-size: 14px;line-height: 20px;}
#loginCon .login_1 form .loginInput{width: 520px;height: 52px;padding-top: 5px;position: relative;}
#loginCon .login_1 form .loginInput input{border: 1px solid #BBBBBB;font-family: arial,"宋体";font-size: 12px;height: 16px;padding: 4px 3px;width: 240px;float: left;outline: none;}
#loginCon .login_1 form .loginInput .yanzheng{width: 80px;}
#loginCon .login_1 form .loginInput .WJMM{color: #666;font-size: 14px;float: left;margin: 4px 0 0 10px;}
#loginCon .login_1 form .loginInput .focus{border: 2px solid #cf82e9;background-color: #fff2f8;height: 14px;width: 238px;}

#loginCon .login_1 form .loginInput .createYZ{width: 75px;height: 22px;padding: 0 5px;float: left;margin: 2px 5px 0 20px;background: #fff;text-align: center;font-size: 16px;font-style: oblique;}
#loginCon .login_1 form .loginInput .changeYZ{height: 22px;float: left;width: 120px;font-size: 14px;line-height: 22px;color: #999;}
#loginCon .login_1 form .prompt{width: 420px;height: 40px;padding: 5px 0 0 100px;font-size: 12px;}
#loginCon .login_1 form .prompt label{height: 26px;float: left;overflow: hidden;position: relative;padding:0 18px;line-height: 26px;}
#loginCon .login_1 form .prompt label input{position: absolute;top: 7px;left: 0;}
#loginCon .login_1 form .dengLu{width: 420px;height: 52px;padding: 5px 0 0 100px;}
#loginCon .login_1 form .dengLu input{cursor: pointer;width: 96px;height: 32px;text-align: center;color: #FFF2F8;line-height: 32px;background: url(../img/bg_reg5.gif) no-repeat -165px -36px;}
#loginCon .login_1 .friend_link{width: 472px;height: 52px;padding: 30px 0 0 50px;}
#loginCon .login_1 .friend_link label{float: left;line-height: 26px;font-size: 12px;}
#loginCon .login_1 .friend_link span{float: left;height: 14px;line-height: 14px;margin-right: 4px;overflow: hidden;padding: 5px 0 5px 23px;position: relative;width: 50px;} 
#loginCon .login_1 .friend_link s{background: url(../img/icon1.gif) no-repeat;display: block;height: 23px;left: 0;position: absolute;top: 0;width: 22px;}
#loginCon .login_1 .friend_link .qq s{background-position-x: -18px;}
#loginCon .login_1 .friend_link .renren s{background-position-x: -38px;}
#loginCon .login_1 .friend_link .btns a{font-size: 12px;line-height: 12px;color: #005aa0;}
/*#loginCon .login_1 .friend_link .clr{   clear: both;display: block;font-size: 0;height: 0;line-height: 0;overflow: hidden;}*/ 
#loginCon .login_1 .friend_link .appLogin{font-size: 12px;line-height: 12px;}
#loginCon .login_1 .loginInput b{position: absolute;font-size: 12px;color: #f00;top: 35px;left: 100px;display: none;}

#loginCon .login_2{width: 409px;height: 421px;float: left;position: relative;}
#loginCon .login_2 h5{font-size: 14px;color: #000;width: 350px;padding-left: 50px;margin-bottom: 20px;}
#loginCon .login_2 h6{font-size: 14px;color: #ccc;width: 350px;padding-left: 50px;height: 32px;}
#loginCon .login_2 .a1{font-size: 14px;color: #333;font-weight: 600;display: inline-block;width: 120px;height: 35px;background: url(../img/bg_reg5.gif) no-repeat;position: absolute;text-align: center;line-height: 35px;top: 100px;left: 160px;}
#loginCon .login_2 .a1:hover{color: #f00;}
#loginCon .login_2 .ad{width: 329px;height: 172px;margin: 170px 0 0 60px;}
#loginCon .login_2 .help{width: 116px;height: 16px;float: right;margin-top: 20px;}
#loginCon .login_2 .help span{width: 17px;height: 20px;float: left;background: url(../img/gwctp.png) no-repeat left -15px;}
#loginCon .login_2 .help a{font-size: 12px;}

/*fenge*/
#fenge{height: 32px;border-bottom: 1px solid #CCCCCC;margin-bottom: 15px;}
/*bottom*/




